!!! XML
!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title= "New Rails App - #{yield :title}"
    = stylesheet_link_tag :all, :media => :all
    = javascript_include_tag :all, :cache => true
    = yield :head
  %body
    #main
      #head
        .wrapper
          #toolbar
            = render 'sessions/session'
          #logo
          #navigation= easy_navigation :default
      #content.wrapper
        - feedback
        = yield
